#timer-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}
#timer-content {
  margin: auto;
}
#timer {
  font-size: 5rem;
}
#goaltime {
  text-align: center;
}
